<section class="posts-container">
    <h1>Create message</h1>

    <form [formGroup]="postForm" class="post-form" (keyup)="viewPost()">
        <!-- <app-text-input [inputTitle]="title" formControlName="title"></app-text-input> -->
        <div class="mb-3">
            <label class="form-label">Title messages</label>
            <input type="text" class="form-control message-area" placeholder="Type something..." formControlName="title">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Messages</label>
            <textarea class="form-control message-area" rows="3" placeholder="Create message for share with your friends."
            formControlName="body"
            >
            </textarea>
        </div>

        <div class="btn-container mt-4">
            <button class="btn-share" type="submit" (click)="createPost()">SHARE</button>
        </div>
    </form>

    <div class="p-4">
        <app-card [cardInfo]="postPreview"></app-card>
    </div>
</section>